<section>
	<div class="user_profile">
		<!-- user profile top -->
		<div class="user_profile-top">
			<div class="user_profile-img">
				 <img src="/public/img/user.svg" class="rider_img">
			</div>
			<div class="user_profile-name">
				<p><%= user_profile.name %></p>
			</div>
		</div>

		<!-- user profile bottom -->
		<div class="user_profile-bottom">
			<div class="user_profile-text">
				<p class="text-muted">"<%= user_profile.bio %>"</p>
			</div>
			
			<div class="user_profile-text">
				<p class="text-capitalize ">WhatsApp no:</p>
				<p class="ml-5 text-capitalize"><i class="fab fa-whatsapp"></i><%= user_profile.whatsappno %></p>

				
			</div>
			<div class="user_profile-text">
				<p class="text-capitalize ">Phone no:</p>
				<p class=" text-capitalize"><i class="fas fa-phone-volume"></i><%= user_profile.phoneno %></p>

				
			</div>
			<div class="user_profile-text">
				<p class="text-capitalize ">Driving expereince:</p>
				<p class=" text-capitalize"><i class="fas fa-car"></i><%= user_profile.drivingexpereince %>Year</p>

				
			</div>
			<div class="user_profile-text">
				<p class="text-capitalize ">Email Verified:</p>
				<p class=" text-capitalize"> <i class="fas fa-user-check" style="color: #0bc30b;"></i>Verified</p>

				
			</div>
		
		</div>

	</div>
</section>