<!DOCTYPE html>
<html>
<head>

	 <title>Share My Ride</title>
	 <!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
     <!--Custom css-->
     <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
  
<!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHiHSqHQrJO3a73nAfKsH7-ARO7BnEqyE&callback=initMap&libraries=places&v=weekly"
      async
    ></script> -->
</head>

<body>
      <!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>

	    <!-- ############# SEARCH #######################-->
             <%- include('components/search.ejs');  -%>
             <!-- ############# SECTION 1 #######################-->
             <%- include('components/section1.ejs');  -%>
             <!-- <input type="text" name="" id="pac-input"> -->
    
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->


</body>
	 <!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>

          <!-- <script type="text/javascript">
           function initMap() {
  const center = { lat: 50.064192, lng: -130.605469 };
// Create a bounding box with sides ~10km away from the center point
const defaultBounds = {
  north: center.lat + 0.1,
  south: center.lat - 0.1,
  east: center.lng + 0.1,
  west: center.lng - 0.1,
};
const input = document.getElementById("pac-input");
console.log(google.maps)
const options = {
  bounds: defaultBounds,
  componentRestrictions: { country: "us" },
  fields: ["address_components", "geometry", "icon", "name"],
  origin: center,
  strictBounds: false,
  types: ["establishment"],
};
const autocomplete = new google.maps.places.Autocomplete(input, options);
}
</script> -->
</html>